.info-dashboard {
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #606060;
  padding: 15px;
  margin: 15px;
  position: relative;
  h4 {
    padding: 15px;
  }
}

.profil-actions {
  position: absolute;
  right: 10px;
  top : 10px;
  color: #2381D0;
  font-size: 22px;
}

.hidden {
  display: none;
}

.delete-bullet-point li {
 list-style-type: none;
}


.owner-product-line {
  position: relative;

}


.edit-delete-product {
  position: absolute;
  display: inline;
  right: 15px;
  top: 0px;
  .fa {
    margin: 5px;
    color: #2381D0;
    text-decoration: none
  }
  a {
    text-decoration: none;
  }
}

.my-product-card {
  padding: 15px;
  margin-bottom: 10px;

  border-bottom: 1px solid #9E9E9E;
}

.container-list {
  position: relative;
  }


.right-side {
  position: absolute;
  top: 0px;
  right: 10px;

}

.position-img {
  position: absolute;
  top: -75px;
  right: 395px;

}



