.info-dashboard {
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #606060;
  padding: 15px;
  position: relative;
}

.profil-actions {
  position: absolute;
  right: 10px;
  top : 10px;
  color: #469AE0;
  font-size: 22px;
}

.hidden {
  display: none;
}
