<div class="banner">
    <h1>Move anywhere! <br/>
        Sport stuff near you, <br/>
        available, <br/>
        simple</h1>
</div>


<div class="listing-category">
  <div class="text-center">
    <h1> Listing Category</h1>
  </div>


  <div class="container">
    <div class="row">
      <% @categories.each do |c| %>
        <%= link_to category_path(c) do %>
          <div class="col-sm-4">
            <div class="card <%= c.name.downcase %>">
              <div class="card-description">
                <p><%= c.name %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


